@use "../../scss/abstracts/" as *;
.container {
    &[data-color='first'] {
        background-color: $color-green-300;
    }

    &[data-color='second'] {
        background-color: $color-green-100;
    }

    width: 30rem;
    height: fit-content;

    border-radius: 0.8rem;
    padding: 1.4rem;

    color: $color-gray-500;
    text-align: center;

    @include effect-style-shadow-1;

    h3 {
        margin-bottom: 1.4rem;
        @include text-style-header-3;
    }

    p {
        margin-bottom: 1.4rem;
        @include text-style-paragraph-1;
    }
}